1 VERSIONINFO
FILEVERSION 5,9,0,0
PRODUCTVERSION 5,9,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Nawakarit"
      VALUE "FileDescription", "pomodoro"
      VALUE "FileVersion", "5.9.0"
      VALUE "InternalName", "ipdf.exe"
      VALUE "OriginalFilename", "pomodoro.exe"
      VALUE "ProductName", "pomodoro"
      VALUE "LegalCopyright", "© 2026 Nawakarit. All rights reserved."
      VALUE "ProductVersion", "5.9.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
