1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Nawakarit"
      VALUE "FileDescription", "ipdf"
      VALUE "FileVersion", "1.1.0"
      VALUE "InternalName", "ipdf.exe"
      VALUE "OriginalFilename", "ipdf.exe"
      VALUE "ProductName", "ipdf"
      VALUE "LegalCopyright", "© 2026 Nawakarit"
      VALUE "ProductVersion", "1.1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
